.App {
  font-family: sans-serif;
  text-align: center;
}

.calender-grid {
  width: 50%;
}

.month-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.month-container i {
  min-height: 1em;
  min-width: 1em;
}

/* Month list */
.weekdays {
  display: flex;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, auto);
}

.grid > * {
  margin: 5px;
  border: medium solid white;
}

.weekdays div {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  flex-grow: 1;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 7px 0;
  background-color: #ddd;
}

.diffmonth {
  color: rgb(200, 200, 200);
}

.currmonth:hover {
  justify-content: center;
  border-color: rgb(144, 144, 144);
  align-items: center;
  text-align: center;
  display: flex;
  cursor: pointer;
}
